#   Database to use. One of `kvdb`, `redis` or `thisdb`.
database=

#   Configuration parameters for `kvdb`.
database.kvdb.url=

#   Configuration parameters for `redis`. `db` is optional.
database.redis.server=
database.redis.db=

#   Configuration parameters for `thisdb`.
database.thisdb.apikey=
database.thisdb.bucketid=

#   Enable/disable error reporting.
#   Options are 'message' and 'none.'.
error.reporting=none

#   Telegram bot key.
telegram.botkey=

#   User agent used for network requests.
user.agent=Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:97.0) Gecko/20100101 Firefox/97.0

#   Port that the web server will listen at.
web.port=4567

#   Path that the web server will receive webhook requests at.
web.webhookpath=