package io.edr;

public class Secrets {
    public static final String DatabaseURL = "";        //  Your KVDb.io Database URL
    public static final String TelegramBotKey = "";     //  Your Telegram Bot API Key
}
