/*
 *  Secrets.java
 *  covid-stats-pt
 *
 *  Created by Eduardo Almeida <hello at edr dot io>
 *  Published under the public domain
 */

package io.edr.covidstatspt;

public class Secrets {

    //  URL for the KVDb database, terminated with a forward slash (/)
    public static final String DatabaseURL = "";
    
    //  API Key for the Telegram bot
    public static final String TelegramBotKey = "";
}
