/*
 *  Secrets.java
 *  covid-stats-pt
 *
 *  Created by Eduardo Almeida <hello at edr dot io>
 *  Published under the public domain
 */

package io.edr.covidstatspt;

public class Secrets {

    //  URL for the KVdb database, terminated with a forward slash (/)
    public static final String KVdbURL = null;

    //  Connection string for a Redis instance
    public static final String RedisConnectionString = null;

    //  (Optional) dbX selector for Redis
    public static final Integer RedisDatabaseID = null;

    //  API Key for ThisDB
    public static final String ThisDBAPIKey = null;

    //  Bucket ID for ThisDB
    public static final String ThisDBBucketID = null;

    //  API Key for the Telegram bot
    public static final String TelegramBotKey = null;

    //  (Secret) Path to use for the Telegram Webhook
    public static final String TelegramWebhookSecret = null;

    public static final int WebServerPort = 4567;
}
